---
import Layout from '../../layouts/Layout.astro';
import BlogCard from '../../components/BlogCard.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<Layout title="Blog">
  <h1 class="text-4xl font-bold mb-8">Blog Posts</h1>
  <div class="space-y-8">
    {posts.map(post => (<BlogCard 
      title={post.data.title}
      date={post.data.date}
      excerpt={post.data.excerpt}
      slug={post.slug}
    />
    ))}
  </div>
</Layout>