---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm';
---

<Layout title="Contact">
  <div class="max-w-2xl mx-auto">
    <h1 class="text-4xl font-bold mb-8">Get in Touch</h1>
    <ContactForm client:load />
  </div>
</Layout>