---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import { getGithubProjects } from '../utils/github';

const projects = await getGithubProjects();
---

<Layout title="Projects">
  <h1 class="text-4xl font-bold mb-8">My Projects</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {projects.map(project => <ProjectCard project={project} />)}
  </div>
</Layout>