---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Your Portfolio Website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/blog.css" />
    <link rel="icon" type="image/jpeg" href="/icon.jpg" />
    <link rel="think" type="image/jpeg" href="/think.png" />
    <link rel="image" type="image/jpeg" href="/Rag1.jpg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="container mx-auto px-4 py-8">
      <article class="prose prose-xl max-w-4xl mx-auto">
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>

